:root {
  --title-color: white;
  --background-color: rgb(43, 40, 40);
  --year-color: rgb(63, 135, 63);
  --content-color: rgb(206, 194, 194);
}

.logo{
  display: flex;
  align-items: center;
}

.logo .logo-icon{
  font-size: 76px;
  fill: var(--year-color);
}
.logo h2{
  color: var(--year-color);
  margin: 25px 0 10px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 28, 28);
  padding: 30px 40px 10px;
}

.header .watchlist{
  position: relative;
  font-size: 50px;
  color: var(--year-color);
  margin-right: 20px;
  cursor: pointer;
  border: 3px solid var(--year-color);
  border-radius: 10px;

}

.header .watchlist p{
  position: absolute;
  top: 46px;
  right: -14px;
  margin: 0;
  border: 1px solid;
  color: var(--content-color);
  font-size: 18px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: rgb(63, 61, 61);

}

.sliderMovies{
  padding: 3px 25px 0;
  background: linear-gradient(rgb(29, 28, 28),rgb(63, 61, 61));
  position: relative;
}

.sliderMovies::after{
  content: "";
  background-color: var(--year-color);
  width: 560px;
  height: 3px;
  position: absolute;
  top: 535px;
  left: 174px;
  z-index: 8;
}

.sliderMovies h2{
  text-align: center;
  color: var(--title-color);
  font-size: 30px;
}

.MoviesBackground{
  background-color: rgb(63, 61, 61);
  position: relative;
  padding-top: 125px;
}


.Movies{
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
  min-height: 1150px;
  padding: 0 20px;
}

/*after Link/Router it makes underline this is the remover*/
.Movies div a, .sliderMovies div a{
  text-decoration: none;
}

.single-movie {
  margin: 10px;
  width: 200px;
  height: 360px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--background-color);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.single-movie:hover{
  transform: translate(0, 5px);
  background-color: rgb(48, 44, 44);
}

.single-movie img {
  width: 100%;
  height: 295px;
}

.single-movie .info {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.single-movie .info h2 {
  font-size: 15px;
  margin: 0;
  color: var(--title-color);
}

.single-movie .info h3 {
  font-size: 15px;
  margin: 0;
  color: var(--year-color);
}

.single-movie p {
  margin: 0;
  color: var(--content-color);
  padding: 5px;
  font-size: 13px;
}

.paginationBtns{
  display: flex;
  list-style: none;
  width: 600px;
  height: 50px;
  color: var(--year-color);
  margin-bottom: 0;
}


.paginationBtns a{
  border: 1px solid;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.paginationBtns a:hover{
  color: var(--year-color);
  background-color: var(--background-color);
  font-weight: 500;
}
.paginationBtns .activePage a{
  color: var(--year-color);
  background-color: var(--background-color);
  font-weight: 500;

}

/* Movies Details */

.details-movie{
  background-color: rgb(63, 61, 61);
  padding: 150px 20px 0;
} 

.details-movie .image-info-movie{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details-movie .image-info-movie img{
  width: 300px ;
  height: 430px;
  box-shadow: 0px 0px 28px;
}
.details-movie .image-info-movie table{
  width: 500px;
}
.details-movie .image-info-movie table tr:nth-child(odd){
 background-color:rgba(63, 135, 63, 0.555);
}

.details-movie .image-info-movie table h2{
  color: var(--content-color);
  font-size: 18px;
  margin: 5px;
}

.details-movie .image-info-movie table td{
  color: rgb(201, 189, 189);
  padding: 10px;
}

.details-movie .describtion{
  color: rgb(201, 189, 189);
padding: 20px 40px;
}

.details-movie .describtion h4{
  font-size: 20px;
  position: relative;
}
.details-movie .describtion h4::after{
  content: "";
  height: 2px;
  width: 125px;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: var(--year-color);
}
.details-movie .iframe-div{
  width: 560px;
  margin: auto;
  padding: 30px 0 60px;
}

.WatchLater{
  width: 55px;
  height: 65px;
  border: 3px solid #e3d6d6b3;
  background-color: transparent;
  position: absolute;
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
}
.WatchLater svg{
  font-size: 50px;
  fill: var(--year-color);
}

.WatchLater:hover{
  background: radial-gradient(var(--year-color) 9px ,transparent );
}

.WatchLater:hover svg{
  fill: #e3d6d6b3;
}

.WatchLater:active svg{
  fill: #e3d6d6d8;
  font-size: 51px;
  padding: 4px;
}

.WatchLaterAdded{
  width: 55px;
  height: 65px;
  border: 3px solid #e3d6d6b3;
  background-color: var(--year-color);
  position: absolute;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s;
}

.WatchLaterAdded svg{
  font-size: 50px;
  fill: #e3d6d6;
}