* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    width: 920px;
    margin: auto;
    /* padding: 50px 150px 0; */
}

.App a {
    text-decoration: none;
}

.footer {
    background-color: rgb(53, 126, 53);
    text-align: center;
    height: 120px;
}

.footer p {
    color: rgb(206, 194, 194);
    margin: 0;
    font-size: 13px;
}

.footer .info {
    padding-top: 80px;
}

@media only screen and (max-width: 500px) {
    .App {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    .App {
        width: 100%;
    }
}

@media screen and (min-width: 921px) {
    .App {
        width: 920px;
    }
}